@import "utilities/variables";

@import "utilities/mixin";

@import "utilities/condicionales";

@import "utilities/extend";

body {
    background-color: $color-secundario;
    div{
        header{
            background-color:$color-principal;
            text-align: center;  
            div{
                a{ height: 3rem;
                    .logo{
                        width: 6.5rem; margin-top: -1.8rem;  
                    }

                }
            }
        }
        nav{
            div{
                ul{
                    li{
                        a{
                            .nav-link:hover{
                                transform: scale(1.05);
                            }
                        }
                    }
                }
               
            }
        }
    }

    //estilo de index
    .mainContent{
        padding: 1rem;
        display: grid;
        grid-template-areas: "banner banner"
                            "subOferta subOferta"
                            "imagen1 imagen2" "imagen3 imagen4";
        justify-content: center;
        justify-items: center;
        gap: .5rem;
       
        .banner{
            grid-area: banner;
        }
        
        .banner img{
            width: 100%;
            justify-content: center;
        }
        .banner img:hover{
            transform: scale(1.05);
        }
        
        .subOferta{
            grid-area: subOferta;
            text-align: center;
            font-size: 150%;
            color: rgb(240, 26, 222);
        }
        
        .imagen1{
            grid-area: imagen1;
            justify-self: right;
            display: none;
        }
        .imagen1 img{
            width: 100%;
        
        }
        
        .imagen2{
            grid-area: imagen2;
            justify-self: left;
            display: none;
        }
        .imagen2 img{
            width:100%
        }
        
        .imagen3{
            grid-area: imagen3;
            justify-self: right;
            display: none;
        }
        .imagen3 img{
            width:100% 
        }
        
        .imagen4{
            grid-area: imagen4;
            justify-self: left;
            display: none;
        }
        .imagen4 img{
            width:100%
        }
    }
    div{
        .footerGeneral{
            margin-top: 1rem;
            padding-top: 1rem;
            background-color: $color-principal;
            section{
                display:flex;
                justify-content: space-evenly;
                .Nosotros{
                    width: 30%;
                    h3{font-size:large;}
                    ul{ padding-left: 0.5rem;
                        li{
                            display: flex;
                            flex-direction: column;
                            flex-wrap:wrap;
                            font-size: medium;

                        }
                    }

                }
                .categorias{
                    width: 30%;
                    h3{font-size:large;}
                    ul{  padding-left: 0.5rem;
                        li{
                            display: flex;
                            flex-direction: column;

                            font-size: medium;

                        }
                    }

                }
                .Contacto{
                    
                    display: flex;
                    flex-direction: column;
                    width: 30%;
                    h3{font-size:large;}

                    ul{  padding-left: 0.5rem;
                        li{
                            display: flex;
                            font-size: medium;

                        }
                    }

                }

                

            }
            h3{
                font-size: 1.5rem;
                margin-left: .5rem; 
            }
            h4{
                font-size: .8rem;
            }
            h5{
                font-size: .6rem;  
            }
            .derechos{
                padding: .5rem 1rem .5rem 1rem;
               background-color: rgb(243, 194, 203);  
               h4{
                text-align:center;
               }
               h5{
                text-align:center;
               }
            }
        }
    }
}

body{
    div{
        main{
            p{
                @extend %formatoText;
                font-size: large;
            }
            img{
                @include medidas (100%, auto);
            }
        }
    }
}

body{

.facebook{

    a{
        img{
            position: fixed;
            bottom: 1rem;
            right: 1rem;
            width: 3rem;
        }
    }
    }
}

//estilos Nosotros
      
body{   
    main.contentNosotros{
        main{
            h2{
                @extend %formatoText;
                color: rgb(244, 67, 158);
            }
            .h2Nosotros{
                text-decoration: underline;
                color: palevioletred;
                font-size: 2rem;
            }
    
            article{
                   
                .parrafoNosotros{
                    padding-left: 2rem;
                    padding-right: 2rem;
                    color: rgb(244, 67, 158)
                }
            }
            .nosotrosFoto{ 
                img{margin: 0;
                    padding-top: 1rem;
                    padding-left: 2rem;
                    padding-right: 2rem;
                    @include medidas (100%, 100%);
                }
            }
            section{
                h2{
                    @extend %formatoText;
                }
            }
            div{
                form{
                    fieldset{ 
                        legend{
                            h3{ 
                                @extend %formatoText;
                                color: rgb(241, 52, 210);
                            }
                        }
                        div{
                        label{
                        color: rgb(241, 52, 210)
                        }
                        }
            
                        div{
                        display: flex;
                        justify-content: center;
                        margin: 1rem;
                        } 

                    }
                }
            }
        }
    }               
    .facebook{
            
        a{
            img{
                 position: fixed;
                 bottom: 2rem;
                 right: 2rem;
                 width: 5rem;
            }
        }
    }
}
    
//productos
.catalogo{
    display: grid;
    grid-template-areas: "categorias categorias"
                        "producto1 producto2"
                        " producto3 producto4"
                        "producto5 producto6"
                        "producto7 producto8"
                        "producto9 producto10"
                        "producto11 producto12"
                        "producto13 producto14"
                        "producto15 producto16"
                        "producto17 producto18"
                        "producto19 producto20";

    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;  

    .categoriasM{
        grid-area: categorias;
        h2{
            text-align: center;
            color: palevioletred;
            text-decoration: underline;
        }
        nav{ display: flex;
           justify-content: center;
            

            ul{ justify-content: space-evenly;
                text-align: center;
                margin-top: 1rem;

                li{
                    text-align: center;
                    list-style: none;
                    font-size: medium;
                    color: rgb(244, 6, 216);
                }
            }
        }
    }

    .producto1{
        grid-area: producto1;
    }
    .producto2{
        grid-area: producto2;
    }
    .producto3{
        grid-area: producto3;
    }
    .producto4{
        grid-area: producto4;
    }
    .producto5{
        grid-area: producto5;
    }
    .producto6{
        grid-area: producto6;
    }
    .producto7{
        grid-area: producto7;
    }
    .producto8{
        grid-area: producto8;
    }
    .producto9{
        grid-area: producto9;
    }
    .producto10{
        grid-area: producto10;
    }
    .producto11{
        grid-area: producto11;
    }
    .producto12{
        grid-area: producto12;
    }
    .producto13{
        grid-area: producto13;
    }
    .producto14{
        grid-area: producto14;
    }
    .producto15{
        grid-area: producto15;
    }
    .producto16{
        grid-area: producto16;
    }
    .producto17{
        grid-area: producto17;
    }
    .producto18{
        grid-area: producto18;
    }
    .producto19{
        grid-area: producto19;
    }
    .producto20{
        grid-area: producto20;
    }
}

//tips
.mainTips{ display: none;
}

.imgFirstMobileTips{
    @include medidas (100%, 75%);
    margin-bottom: 1rem;
    margin-top: 1rem;
    img{
        margin-top: 1rem;
        @include medidas (100%, 100%)
    }
}
// marcas
.parrafoMarcas{
    padding-top: 1rem;
    font-size: 0.8rem;
}
.marcasImg{
    margin-top: 2rem;
}
.nuevasMarcas{
    margin-top: 2rem;
}


@media screen and (min-width:800px){
    body{
        div{
            header{
                background-color:$color-principal;
                text-align: center;  
                div{
                    a{
                        height: 4rem;

                        .logo{
                            width: 8rem; margin-top: -2rem;  
                        }
    
                    }
                }
            }
        }
    }
    body{
        .mainContent{
            padding: 1rem;
            display: grid;
            grid-template-areas: "banner banner banner banner"
                                "subOferta subOferta subOferta subOferta"
                                "imagen1 imagen2 imagen3 imagen4";
            justify-content: center;
            justify-items: center;
            gap: .5rem;
           
            .banner{
                grid-area: banner;

            
            .subOferta{
                grid-area: subOferta;

            }
            
            .imagen1{
                grid-area: imagen1;

            }
            .imagen1 img{
                width: 100%;
            
            }
            
            .imagen2{
                grid-area: imagen2;
                justify-self: left;
                display: none;
            }
            .imagen2 img{
                width:100%
            }
            
            .imagen3{
                grid-area: imagen3;
                justify-self: right;
                display: none;
            }
            .imagen3 img{
                width:100% 
            }
            
            .imagen4{
                grid-area: imagen4;
                justify-self: left;
                display: none;
            }
            .imagen4 img{
                width:100%
            }
            }
        }
    }

//Productos
    main{
        .catalogo{
            display: grid;
            grid-template-areas: "categorias categorias categorias"
                                "producto1 producto2 producto3 "
                                "producto4 producto5 producto6 "
                                "producto7 producto8 producto9 "
                                "producto10 producto11 producto12 "
                                "producto13 producto14 producto15 "
                                "producto16 producto17 producto18 ";
        
            gap: 1rem;
            margin-top: 1rem;
            margin-bottom: 1rem;    
        }
        .categoriasM{
            grid-area: categorias;
            h2{
                font-size: xx-large;

            }
            nav{ display: flex;
                justify-content: space-between;
                gap: 3rem;

                ul{
                    .subtitulo{
                        font-size: 1.5rem;
                        }
                    li{
                        color: rgb(244, 6, 216);
                    }
    
                }
            }
        }
        
        .producto1{
            grid-area: producto1;
        }
        .producto2{
            grid-area: producto2;
        }
        .producto3{
            grid-area: producto3;
        }
        .producto4{
            grid-area: producto4;
        }
        .producto5{
            grid-area: producto5;
        }
        .producto6{
            grid-area: producto6;
        }
        .producto7{
            grid-area: producto7;
        }
        .producto8{
            grid-area: producto8;
        }
        .producto9{
            grid-area: producto9;
        }
        .producto10{
            grid-area: producto10;
        }
        .producto11{
            grid-area: producto11;
        }
        .producto12{
            grid-area: producto12;
        }
        .producto13{
            grid-area: producto13;
        }
        .producto14{
            grid-area: producto14;
        }
        .producto15{
            grid-area: producto15;
        }
        .producto16{
            grid-area: producto16;
        }
        .producto17{
            grid-area: producto17;
        }
        .producto18{
            grid-area: producto18; 
        }
        .producto19{
            display: none;
            grid-area: producto19;
        }
        .producto20{
            display: none;
            grid-area: producto20;
        }
        }
        body{
            div{
                .footerGeneral{
                    background-color: $color-principal;
                    section{
                        h3{
                            margin:0rem;
                        }
                        display:flex;
                        justify-content: space-evenly;
                        text-align: center;
                        .Nosotros{
                            width: 30%;
        
                        }
                        .categorias{
        
                            width: 30%;
        
                        }
                        .Contacto{
                            display: flex;
                            flex-direction: column;
                            flex-wrap: row nowrap;
                            width: 30%;
        
                            ul{
                                li{
                                    display: flex;
                                    flex-direction: column;
                                    flex-wrap:nowrap;
        
                                }
                            }
        
                        }
        
        
                        ul{
                            li{
                                list-style-type: none;
                                padding-top: .5rem;
                                font-size: 1rem;
                            }
                        }
                        
        
                    }
                    h3{
                        font-size: 1.5rem;
                        margin-left: 2rem; 
                    }
                    h4{
                        font-size: .8rem;
                    }
                    h5{
                        font-size: .6rem;  
                    }
                    .derechos{
                        padding: .5rem 1rem .5rem 1rem;
                       background-color: rgb(243, 194, 203);  
                       h4{
                        text-align:center;
                       }
                       h5{
                        text-align:center;
                       }
                    }
                }
            }
        }

//estilos Nosotros
      
    body{   
        main.contentNosotros{
            main{
                article{
                    
                    .parrafoNosotros{
                        padding-left: 5rem;
                        padding-right: 5rem;
                        color: rgb(244, 67, 158)
                    }
                }
                .nosotrosFoto{ 
                    img{margin: 0;
                        padding-top: 1rem;
                        padding-left: 5rem;
                        padding-right: 5rem;
                        @include medidas (100%, 100%);
                    }
                }


            }
        }               
    }
//tips
    .mainTips{display: block;
        div{
            @include medidas (100%, 75%);
            margin-bottom: 5rem;
            margin-top: 5rem;
            img{
                @include medidas (100%, 100%)
            }
        }
    }
    .imgFirstMobileTips{ display: none;
    }

 // marcas
    .parrafoMarcas{
        padding-top: 1rem;
        font-size: 1.2rem;
    }

}

@media screen and (min-width:1200px){
    body{

        .mainContent{
                padding: 1rem;
                display: grid;
                grid-template-areas: "banner banner banner banner"
                                    "subOferta subOferta subOferta subOferta"
                                    "imagen1 imagen2  imagen3 imagen4";
                justify-content: center;
                justify-items: center;
                gap: .5rem;
            
                .banner{
                    grid-area: banner;
                }
                
                .banner img{
                    width: 100%;
                    justify-content: center;
                }
                .banner img:hover{
                    transform: scale(1.05);
                }
                
                .subOferta{
                    grid-area: subOferta;
                    text-align: center;
                    font-size: 150%;
                    color: rgb(244, 6, 216);
                }
                
                .imagen1{
                    grid-area: imagen1;
                    justify-self: right;
                    display: none;
                }
                .imagen1 img{
                    width: 100%;
                
                }
                
                .imagen2{
                    grid-area: imagen2;
                    justify-self: left;
                    display: none;
                }
                .imagen2 img{
                    width:100%
                }
                
                .imagen3{
                    grid-area: imagen3;
                    justify-self: right;
                    display: none;
                }
                .imagen3 img{
                    width:100% 
                }
                
                .imagen4{
                    grid-area: imagen4;
                    justify-self: left;
                    display: none;
                }
                .imagen4 img{
                    width:100%
                }
            }
                    
    }

    body{

        div{
            header{
                background-color:$color-principal;
                text-align: center;  
                div{
                    a{
                        height: 3.7rem;
                        
                        .logo{
                            width: 8.2rem; margin-top: -2.3rem;  
                        }
    
                    }
                }
            }
        }
    }
//Productos
    main{
        .catalogo{
            display: grid;

            grid-template-areas: 
            "categorias categorias categorias categorias"
            "producto1 producto2 producto3 producto4" 
            "producto5 producto6 producto7 producto8" 
            "producto9 producto10 producto11 producto12"
            "producto13 producto14 producto15 producto16"
            "producto17 producto18 producto19 producto20";
        
            gap: 1rem;
            margin-top: 1rem;
            margin-bottom: 1rem;    
        }
        .categoriasM{
            grid-area: categorias;
            h2{
                font-size: 3rem;

            }
            nav{ display: flex;
                justify-content: space-between;
                gap: 15rem;

                ul{
                    .subtitulo{
                        font-size: 2rem;
                        }
                    li{ 
                        color: rgb(244, 6, 216);
                    }
    
                }
            }
        }
        
        .producto1{
            grid-area: producto1;
        }
        .producto2{
            grid-area: producto2;
        }
        .producto3{
            grid-area: producto3;
        }
        .producto4{
            grid-area: producto4;
        }
        .producto5{
            grid-area: producto5;
        }
        .producto6{
            grid-area: producto6;
        }
        .producto7{
            grid-area: producto7;
        }
        .producto8{
            grid-area: producto8;
        }
        .producto9{
            grid-area: producto9;
        }
        .producto10{
            grid-area: producto10;
        }
        .producto11{
            grid-area: producto11;
        }
        .producto12{
            grid-area: producto12;
        }
        .producto13{
            grid-area: producto13;
        }
        .producto14{
            grid-area: producto14;
        }
        .producto15{
            grid-area: producto15;
        }
        .producto16{
            grid-area: producto16;
        }
        .producto17{
            grid-area: producto17;
        }
        .producto18{
            grid-area: producto18; 
        }
        .producto19{
            display: block;
            grid-area: producto19;
        }
        .producto20{
            display: block;
            grid-area: producto20;
        }
    }
    //tips
    .mainTips{display: block;
        div{
            @include medidas (100%, 75%);
            margin-bottom: 3rem;
            margin-top: 3rem;
            img{
                @include medidas (100%, 100%)
            }
        }
    }
    .imgFirstMobileTips{ display: none;
    }
    //estilos Nosotros
      
    body{   
        main.contentNosotros{
            main{
                article{
                    
                    .parrafoNosotros{
                        padding-left: 10rem;
                        padding-right: 10rem;
                        color: rgb(244, 67, 158)
                    }
                }
                .nosotrosFoto{ 
                    img{margin: 0;
                        padding-top: 1rem;
                        padding-left: 10rem;
                        padding-right: 10rem;
                        @include medidas (100%, 100%);
                    }
                }


            }
        }               
    }

    // marcas
    .parrafoMarcas{
        padding-top: 1rem;
        font-size: 2rem;
    }

}


